body {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 107, 107);
}

.calc-container {
    margin-top: 20%;
    background-color: rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    border-radius: 15px;
    border: 5px solid rgb(202, 202, 202);
}

.lcd-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
    border-bottom: 2px solid rgb(185, 185, 185);
}

.lcd-history {
    flex: 3;
    border-bottom: 1px solid rgb(107, 107, 107);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: rgb(65, 65, 65);
}

.lcd-current {
    flex: 7;
    outline: 1px solid black;
    padding: 5px 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    color: rgb(65, 65, 65);
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}